.useStateTask {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}
.buttonWraper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}